.form-field {
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    img {
        margin-right: 26px;
    }
    input {
        font-size: 16px;
        border: none;
        padding: 13px 13px 13px 0;
        &:focus {
            outline: none;
        }
    }
}
