.post-master-container {
    padding: 0 5%;
    margin-top: 2rem;
    width: 100%;
    height: 100%;

    .post-columns-container {
        column-count: 2;
        column-gap: 3%;
        margin-top: 2rem;
        .boxy {
            width: auto;
            height: 300px;
            background-color: yellow;
            break-inside: avoid;
            margin-bottom: 1rem;
        }
        .rectangley {
            width: auto;
            height: 500px;
            background-color: orange;
            break-inside: avoid;
            margin-bottom: 1rem;
        }
    }
}
